.recipe {
  &__image {
    height: 32rem;
    position: relative;
    display: block;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;
    object-fit: cover;
  }
  &__details {
    height: 20rem;
    padding: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    &__text-section {
      color: #f38e82;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
