svg {
  &path {
    all: inherit;
  }
}

.container {
  display: grid;
  background: #f8f8f8;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 10vh auto;
  max-width: 120rem;
  margin: 3rem auto;
  border-radius: 0.6rem;
}
