svg {
  &path {
    all: inherit;
  }
}

@import "../../scss/abstracts";

.container {
  display: grid;
  background: #f8f8f8;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: 8rem auto;
  max-width: 120rem;
  margin: 3rem auto;
  border-radius: 0.6rem;
  @include respond(tab-port) {
    margin: 0 auto;

    grid-template-columns: 1fr;
  }
}
