.header {
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 3rem;
}
.logo {
  height: 100%;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin-right: 3rem;
}

.spoon-knife-icon {
  height: 5.2rem;
  width: 5.2rem;
  margin-right: 1rem;
  display: flex;
  fill: #efffff;
  background: linear-gradient(to bottom right, #f4c161, #e76f51);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  &#icon-spoon-knife {
  }
}
