.detail-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  svg {
    height: 2rem;
    width: 2rem;
    fill: #f38e82;
  }
  .data {
    margin: 0 0.4rem;
  }
  .col-1 {
    grid-column: 1/2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .col-2 {
    grid-column: 2/3;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
