.main-content {
  grid-column: 2/4;
  grid-row: 2/4;
  background: #eeeee9;
  color: #000;
  display: flex;
  padding-top: 3rem;
  align-items: flex-start;
  justify-content: center;
  min-height: 80vh;
}
